<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Login</title>
</head>
<body class="bg-red-300 flex  justify-center items-center h-screen ">
    <section class="relative bg-center bg-no-repeat bg-[url('/images/login.jpg')]  bg-blend-multiply w-[90%] h-[80%] bg-cover rounded-2xl shadow-2xl shadow-red-600">
    
        
        <div class="absolute top-8 bg-red-500 bg-opacity-20 backdrop-blur-10 m-4 py-8 px-6 rounded-2xl shadow-md w-full max-w-lg flex flex-col ">
            <div id="errorMessage" class=" flex font-bold items-center justify-center  <%= errorMessage ? '' : 'hidden' %>">
               
                    <span class="text-white-500"><%= errorMessage %></span>
                
            </div>
           
            <form action="/<%= userType %>/login" method="POST" class="flex flex-col">
                <div class="mb-4">
                    <label class="block text-black font-serif font-semibold text-lg  mb-2" for="username">Username</label>
                    <input class="border rounded-xl <%= errorMessage ? 'border-red-400 placeholder-red-400 '  :'' %>  outline-none w-full py-2 px-3 focus:border-none " type="text" id="username" name="username" placeholder="Enter username">
                </div>
                <div class="mb-4">
                    <label class="block text-black text-lg font-bold mb-2" for="password">Password</label>
                    <input
                    class="border rounded-xl <%= errorMessage ? 'border-red-400 placeholder-red-400 ' : ' ' %>  outline-none  w-full py-2 px-3 focus:border-none "
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                  >
                </div>
                <div class="mb-4 text-lg">
                    <a href="/user/forgot_password" class="text-bold font-bold text-black">Forgot Password?</a>
                </div>
                <button class="bg-transparent tracking-wide text-white px-4 py-4 font-extrabold text-2xl rounded" type="submit "onclick="hideErrorMessage()">Login</button>
            </form>
        </div>
        <div>
    
        </div>
        
            
        </section>
   
    <script>
        function hideErrorMessage() {
            const errorMessageElement = document.getElementById('errorMessage');
            errorMessageElement.style.display = 'none';
        }
      
    </script>
    
</body>
</html>
    